.container {
  margin: 0% 0 0 10%;
  display: flex;
}
.fa-chevron-down ,.fa-ellipsis-h {
  float: right;
  color: gray;
}
#profile_details {
  display: block;
  padding: 10px 20px;
}
#profile_content {
  padding: 10px 20px;
}
#reactions {
  padding: 10px;
  border-bottom: 1px solid gray;
}
#reply {
  padding: 10px;
  color: grey;
  font-size: 15px;
}
#reply .fa-thumbs-up {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  font-size: 20px;
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
#reply .fa-share {
  font-size: 20px;
}
#reply .fa-share-alt {
  font-size: 20px;
}
#reply .fa-location-arrow {
  font-size: 20px;
}
#reply .fa-comment-alt {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  font-size: 20px;
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
#reactions .fas{
  border-radius: 50%;
  font-size: 10px;
  color: white;
}
#reactions .fas.fa-thumbs-up {
  font-size: 10px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  border:  3px solid cornflowerblue;
  background-color: cornflowerblue;
}
#reactions .fas.fa-heart {
  font-size: 10px;
  border:  3px solid red;
  background-color: red;
}
#dot,#dot_edited, #likes, #comments {
  opacity: 0.7;
}
#dot {
  display: inline-block;
  height: 2px;
  margin-bottom:3.5px;
  width: 2px;
  background-color: #232323;
  border-radius: 50%;
}
#dot_edited {
  display: inline-block;
  height: 2px;
  margin-bottom:3.5px;
  width: 2px;
  background-color: #232323;
  border-radius: 50%;
}
#dot_notpromo {
  display: inline-block;
  height: 2px;
  margin-bottom:3.5px;
  width: 2px;
  background-color: #232323;
  border-radius: 50%;
}
#reactions .fas.fa-lightbulb {
  border:  3px solid #ffcc00;
  background-color: #ffcc00;
}
#post_profile_image {
  width: 50px;
  height: 50px;
}
#profile_headings {
  display: inline-block;
  width: max-content;
}
.header {
  padding-left: 20px;
  margin-top: 1%;
  padding-top: 2px;
  padding-right: 20px;
  border-bottom: 1px lightgray solid;
  background-color: #fff;
}
#info {
  height: 500px;
  width: 15%;
  background-color: #fff;
}

#news_views {
  margin-top: 1%;
  width: 30%;
  background-color: #fff;
}
.post {
  margin-bottom: 1%;
  margin-top: 0%;
  background-color: #fff;
}
#posts {
  margin: 0% 1.5%;
  width: 50%;
  padding: 0;
}
.fa,.far,.fab{
    font-size: 35px;
    margin: 0px;
}
.fa-th {
  font-size: 18px;
  width: 40px;
}
#profile_image {
	background-size: 35px 35px;
	border: 3px;
	border-radius: 50%;
	margin:0;
	width:35px;
	height:35px;
}
#profile_image_small {
	background-size: 35px 35px;
	border: 3px;
	border-radius: 50%;
	margin:0;
	width:35px;
  height:35px;
  display: none;
}
#premium {
  color: #cccc88;
}
.fa-th span {
  font-size: 10px;
}
.fas.fa-caret-down {
  font-size: 15px;
}
.topnav .fa-comment-alt,.topnav .fa-bell {
  font-size: 35px;
}
.fab {
  color: royalblue;
  background-color: #fff;
  width: 30px;
  height: 25px;
  font-size: 35px;
  margin-top: 4px;
}
a img {
  width: 35px;
  height: 35px;
}
.searchLogin{
    padding: 0px;
    font-size: 15px;
    background-color: lightgray;
    width: 100%;
    outline: 0;
  }

  .topnav .fa-search {
    position: absolute; 
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px; 
    color: #232323;
  }
  .topnav .fa-qrcode {
    display: none;
    position: absolute; 
    margin-top: 5px;
    margin-left: 170px;
    font-size: 25px; 
    color: #232323;
  }
  @media (max-width: 1200px){
    .right a {
      margin-left: 15px !important;
      margin-right: 15px  !important;
     }  
     .topnav {
      padding: 0 5% 0 5% !important;
      }
  }
  @media (max-width: 991px){
    .right a {
      margin-left: 8px !important;
      margin-right: 8px  !important;
     }  
     #news_views {
       width: 25%;
     }
     #posts {
       width: 55%;
     }
     .topnav {
      padding: 0 !important;
      }
  }
  @media (min-width: 768px){
    .sm-bottom,.sm-hidden {
      display: inline-block;
    }
    #profile_details {
      border: 0 !important;
    }
    .fa-ellipsis-h {
      display: block ;
    }
    .fa-chevron-down {
      display: none ;
    }
    #md {
      display: inline-block;
    }
    #sm {
      display: none;
    }
  }

  @media (max-width: 768px){
    .sm_topnav {
      display: inline-flex !important;
      width: 100%;
      margin: 0 auto;
    }
    .sm_topnav #sm_profile_image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin: 5px;
    }
    .sm_topnav .fa-qrcode {
      position: absolute;
      font-size: 25px;
      margin-top: 5px;
      padding: 6px 6px 6px 15px;
      color: gray;
      background-color: white;
    }
    .sm_topnav form {
      width: 100%;
    }
    .sm_topnav .fa-search {
      position: absolute;
      font-size: 20px;
      color: gray;
      padding: 15px ;
    }
    .sm_topnav .far {
      font-size: 30px;
      padding: 10px;
      color: #606060;
    }
    .sm_topnav #sm_SearchInput {
      width: 85%;
      margin: 5px 0 5px 2px;
      height: 35px;
      border: 0px;
      font-size: 20px;
      color: gray;
    }
    .topnav {
      display: none;
    }
    .bottomnav {
      display: flex !important;
    }
    #info,#news_views{
      display: none;
    }
    #md {
      display: none;
    }
    #sm {
      display: inline-block;
    }
    .fa-ellipsis-h {
      display: none ;
    }
    .fa-chevron-down {
      display: block;
    }
    .container {
      margin: 0;
      display: flex;
    }
   #posts {
      margin: 0;
      width: 100%;
      padding-bottom: 10%;
    }
    #follow_promo {
      display: none;
    } 
  }

.topnav {
    overflow: hidden;
    padding: 0 10% 0 10%;
    margin: 0;
    background-color: #283e4a;
    position: sticky;
    top: 0; 
  } 
  .sm_topnav {
    display: none;
    overflow: hidden;
    margin: 0;
    background-color: #64a9ff;
    position: sticky;
    top: 0; 
  } 
  .topnav input{
      height: 30px;
      padding-left: 0;
  }
 
  .topnav a{
    padding: 0;
    color: #999999;
    text-align: center;
    margin: 7px 5px;
    text-decoration: none;
    font-size: 12px;
  }
  .topnav .left {
    float: left;
    padding-top: 5px;
    
  }
  .topnav a:hover {
    color: #fff;
  }   
  .topnav .active {
    color: #fff;
  }
  .right{
    float: right;
    padding-top: 5px;
  }
  .right a {
    margin-left: 20px;
    margin-right: 20px;
  }
  body {
    margin: 0px;
    padding: 0px;
    background-color:lightgray;
  }
  .bottomnav {
    overflow: hidden;
    padding: 2% 0%;
    position: fixed;
    border-top: 2px solid grey;
    bottom: 0; 
    width: 100%; 
    background-color: white;
    display: none;
  }  
  .bottomnav a{
    color: gray;
    margin: 0 auto;
  }
  .bottomnav a .fa,.far {
    font-size: 20px;
  }
  .bottomnav .active_bottom {
    color: #283eff;
  }